[submodule "service-layer"]
	path = service-layer
	url = https://github.com/planeonline/service-layer.git
	branch = master
[submodule "presentation-layer"]
	path = presentation-layer
	url = https://github.com/planeonline/presentation-layer.git
	branch = master
